{% extends 'base.html.twig' %}
{% block title %} Create Event {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <br/>
            <h1 class="col-md-2 mx-auto" >Create Event</h1>
            <br/>
            <div class="row">
                <form class="col-12" action="{{ path('create_event') }}" method="post">
                    <div class="col-6 form-group mx-auto">
                        {{ form_row(form.place, { attr: { 'class': 'form-control', 'placeholder': 'Choose a place' } }) }}
                    </div>

                    <div class="col-6 mx-auto">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                {{ form_row(form.date.date, { attr: { 'class': 'form-control datetimepicker-input', 'placeholder': 'yyyy-mm-dd', 'data-target':'#datetimepicker4' } }) }}
                            </div>
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 form-group mx-auto">
                        {{ form_row(form.sport, { attr: { 'class': 'form-control', 'placeholder': 'Choose a sport' } }) }}
                    </div>
                    <div class="col-6 form-group mx-auto">
                        {{ form_row(form.maxslot, { attr: { 'class': 'form-control', 'placeholder': 'Choose maximum of slots' } }) }}
                    </div>
                    <div class="col-6 form-group mx-auto">
                        {{ form_row(form.comments, { attr: { 'class': 'form-control', 'placeholder': 'Comments about the event or players.' } }) }}
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                 {{ form_row(form.date.time, { attr: { 'class': 'form-control datetimepicker-input', 'placeholder': 'HH:mm', 'data-target':'#datetimepicker3' } }) }}
                            </div>
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 mx-auto">
                        <button class="btn btn-primary" type="submit">Create!</button>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
